################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/VSFiles/.vs/Mestrado/copilot-chat/5704ef7e/sessions
/VSFiles/.vs/Mestrado/CopilotIndices/17.14.1601.40145
/VSFiles/.vs/Mestrado/FileContentIndex
/.vs/Lagrangian-Relaxation-Party/copilot-chat/5704ef7e/sessions
/.vs/Lagrangian-Relaxation-Party/CopilotIndices/17.14.1601.40145
/.vs/Lagrangian-Relaxation-Party/FileContentIndex
/VSFiles/.vs/Mestrado/v16
/VSFiles/.vs/Mestrado/v17
/VSFiles/Debug
/VSFiles/Mestrado/Debug/Mestrado.tlog
*.obj
/VSFiles/Mestrado/Debug
/VSFiles/Mestrado/x64
/VSFiles/x64
/VSFiles/w20h20n17.BFS.txt
/.vs/Lagrangian-Relaxation-Party/v17
/.vs/Lagrangian-Relaxation-Party/v16
/.vs/Lagrangian-Relaxation-Party/CopilotIndices/17.14.1661.41761
/VSFiles/.vs/Mestrado
/VSFiles/.github
/.vs/slnx.sqlite
